.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20rem;
  min-height: 100vh;
  background-color: #ccc;
}

.box {
   width:200px;
   height: 80px;
   border: #fff solid 1px;
   border-radius: 20px;
   background-color: #fff;
   justify-content: center;
   align-items: center;
   display: flex;
   text-align: center;

}
